.tw-bi-rebate-ext {
  .rebate-table {
    th {
      white-space: pre-line;
    }
    td {
      min-width: 70px;
      max-width: 200px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    input {
      font-size: 12px;
    }
  }

  .looker-components-reset {
    height: 100%;
  }
}
